


.riferimenti{
    font-size: 12px;
}

.testo-contenuti{
    padding-right: 550px;
}


.testoevidenziato{
    background-color: yellow;
}

table{
    width: 1000px;
    font-size: 12px;
}

.headertabella{
    background-color: #278df9;
    color: white;
    width: 1000px;
}

.descrizionitabella{
    text-align: center;
}

.sfondotabella{
    background-color:rgba(91, 219, 255, 50);
}
