


.riferimenti{
    font-size: 12px;
}

.testo-contenuti{
    padding-right: 550px;
}


.testoevidenziato{
    background-color: yellow;
}

table{
    width: 1000px;
    font-size: 12px;
}

.headertabella{
    background-color: rgba(0, 182, 255, 50);
    width: 1000px;
}

.descrizionitabella{
    text-align: center;
}

.sfondotabella{
    background-color: red;
}